* {
    margin: 0;
    padding: 0;
}

/* HEADER STYLING */
.header {
    display: flex;
    justify-content: flex-end;
}

.header-button {
    display: flex;
    justify-content: flex-end;
}

/* CONTENT STLYING */
.form-popup {
    display: none;
}