* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

/* HEADER STYLING */
.header {
    display: flex;
    justify-content: flex-end;
}

.header-button {
    display: flex;
    justify-content: flex-end;
}